@import url(../Util/util.css);

/*
* ##### Home Page Styles #####
*/

/*Home image slider*/
.home_wrapper{
    overflow: hidden !important;
}
.slider_wrapper{
    height: calc(100vh - var(--header-height));
    width: 100%;
}
.home_carousel{
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-button-prev,
.swiper-button-next{
    color: var(--clr-primary);
    mix-blend-mode: multiply;
    z-index: 99;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: var(--clr-secondary);
    mix-blend-mode: normal;
}
.swiper-pagination-bullet{
    background-color: var(--clr-primary-hovr)
}
.swiper-pagination-bullet-active{
    background-color: var(--clr-secondary) !important;
}
.swiper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px !important;
    padding-bottom: 35px !important;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-color: var(--clr-primary);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide::before{
    position: absolute;
    content: '';
    inset: 0;
    background-image: url(../Assets/Logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: -1;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    margin: auto;
    border-radius: inherit;
    box-shadow: var(--layered-shadow);
}

/* About section styles */
.tools_about_wrapper{
    margin-top: 1.5rem;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.about_rows{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
.about_row{
    padding: .75rem;
    background: #f1f1f1;
    border-radius: 10px;
    position: relative;
}
.hoverable_image_container{
    padding: .5rem; 
    margin-right: 1rem;
    float: left;
}
.hoverable_image_container:nth-child(2){
    margin: 0;
    clear: left;
    margin-left: 1rem;
    float: right;
}
.hoverable_image_perspective{
    /* display: inline-block; */
    perspective: 1000px;
    max-width: 200px;
}
.hoverable_image{
    display: block;
    max-width: 100%;
    transition: transform 0.5s;
    will-change: transform;
}
.about_description{
    padding: .5rem;
}
.about_description p{
    line-height: 1.6em;
    font-size: 1.2em;
    font-family: var(--light-font);
    font-weight: thin;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin-top: .5rem;
    margin-bottom: 1.25rem;
}
.about_row .description_title{
    font-weight: bold;
    font-size: 1.1em;
    color: var(--clr-primary);
}
.about_description .submit_btn{
    width: fit-content;
}

/* Home Page Media Queries */
@media only screen and (max-width: 501px){
    .slider_wrapper{
        height: 300px;
    }
    .swiper{
        padding: 0 !important;
    }
    .swiper-slide::before{
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .swiper-button-prev,
    .swiper-button-next{
        --swiper-navigation-size: 34px;
    }
    .swiper-pagination-bullet{
        background-color: rgba(251,251,251,.85)
    }
    .swiper-slide{
        border-radius: 0;
    }

    .tools_about{
        width: 95%;
    }
    .hoverable_image_perspective{
        max-width: 165px;
    }
    .hoverable_image_container{
        padding: .5rem; 
        margin-right: .5rem;
    }
    .hoverable_image_container:nth-child(2){
        margin-left: .5rem;
    }
} 
