.daf_loader{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader{
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
.loader {
  text-indent: -9999em;
  border-top: .7em solid #58e6f900;
  border-right: .7em solid #58e6f900;
  border-bottom: .7em solid #58e6f900;
  border-left: .7em solid #04344c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
